# general
*.ninja
*.py[co]
*.sw[op]
/.DS_Store
/.ccache/
/.idea/
/.vscode
/tags
\#*
\.#*

# project-specific
*.abi.hpp
*.bc
*.dot
*.dylib
*.iws
*.ll
*.wallet
*.wast
*.wast.hpp
/build/
/build-debug/

/doxygen
/haya.doxygen

/genesis.json

/libraries/fc/test/crypto/test_cypher_suites
/libraries/testing/chain_tester
/libraries/types/type_generator
/libraries/types/types_test
/libraries/utilities/git_revision.cpp
/libraries/wallet/Doxyfile
/libraries/wallet/api_documentation.cpp
/libraries/wallet/doxygen
/libraries/wasm-jit/Source/Programs/Assemble
/libraries/wasm-jit/Source/Programs/Disassemble
/libraries/wasm-jit/Source/Programs/Test
/libraries/wasm-jit/Source/Programs/wavm

/programs/haya-cli/config.hpp
/programs/haya-launcher/config.hpp
/programs/haya-node/config.hpp
/programs/haya-wallet/config.hpp

/scripts/tn_init.sh

/tests/plugin_test
/unittests/unit_test
