language: c
git:
  depth: false
services:
  - docker
before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
cache:
  directories:
    - $HOME/.ccache
  timeout: 1000
matrix:
  fast_finish: true
jobs:
  include:
    - stage: build
      script:
        - set -e
        - BUILD_TYPE=Release

        - |
          if [[ $TRAVIS_BRANCH =~ ^debug- ]]; then
            echo "Setting build type to Debug"
            BUILD_TYPE=Debug
          fi

        - cp -r $HOME/.ccache .ccache #copy cache into build context
        - docker build --build-arg registry=mixbytes --build-arg build_type=$BUILD_TYPE -t tmp-builder -f Docker/Dockerfile --target builder .
        - docker run --rm -v $HOME/.ccache:/out tmp-builder /bin/bash -c "cp -r /daobet/.ccache/* /out" #save updated cache
        - docker build --build-arg registry=mixbytes --build-arg build_type=$BUILD_TYPE  -t mixbytes/daobet:$TRAVIS_BRANCH -f Docker/Dockerfile . #build main image

        - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ $BUILD_TYPE != "Debug" ]; then docker run tmp-builder /bin/bash -c 'cd /tmp/build && ctest -R "simulator|unit_test"'; fi
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ] && [ $BUILD_TYPE != "Debug" ]; then docker run tmp-builder /bin/bash -c 'cd /tmp/build && ctest -R "simulator|unit_test|nodeos_sanity|nodeos_run" -E "mongo"'; fi

        - docker push mixbytes/daobet:$TRAVIS_BRANCH #push main image to registry
        - |
          if [ $TRAVIS_BRANCH == "master" ]; then
            docker tag mixbytes/daobet:master mixbytes/daobet:latest
            docker push mixbytes/daobet:latest
          fi

